div {
    background-color: rgb(0,0,0);
    width: 150px;
    height: 150px;
    margin: 10px 10px 10px 550px;
}
div.square1{
    
}
div.square2{
    opacity: 0.6;
}
div.square3{
    opacity: 0.3;
}
div.square4{
    opacity: 0.2;
}